<div class="table-responsive">
    <div class="panel panel-default">
        <div class="panel-heading">
            <button type="button" data-ng-click="usersCtrl.create()" class="btn btn-primary btn-sm">Создать
            </button>
        </div>
        <div class="panel-body">
            <table data-ng-table="usersCtrl.usersTable" class="table table-striped table-bordered table-condensed">
                <tr data-ng-repeat="u in $data">
                    <td data-title="'ID'" data-sortable="'id'">{{u.id}}</td>
                    <td data-title="'Имя'" data-filter="{name: 'text'}" data-sortable="'name'">{{u.name}}</td>
                    <td data-title="'Email'">
                        <a data-ng-href="mailto:{{u.email}}" target="_blank"><em>{{u.email}}</em></a>
                    </td>
                    <td data-title="'Телефон'">{{u.phone}}</td>
                    <td data-title="'Примечание'" data-ng-bind="u.note"></td>
                    <!--
                                        <td data-title="'Статус'" data-sortable="'enabled'" align="center">
                                    <span class="label" ng-class="{true:'label-success', false:'label-danger', '':'hidden'}[u.enabled]">
                                        {{ u.enabled ? 'Включен' : 'Отключен' }}</span>
                                        </td>
                    -->
                    <td data-title="''" data-sortable="'enabled'" align="center">
                        <button type="button" data-ng-click="usersCtrl.toggleActive(u.id, u.enabled)"
                                class="btn btn-default btn-xs">
                            <span class="glyphicon"
                                ng-class="{true:'glyphicon-ok-circle text-success', false:'glyphicon-ban-circle text-danger', '':'hidden'}[u.enabled]">
                            </span>
                        </button>
                    </td>
                    <td align="center">
                        <button type="button" data-ng-click="usersCtrl.edit(u.id)" class="btn btn-default btn-xs">
                            <span class="glyphicon glyphicon-edit text-info"></span>
                        </button>
                        <button type="button" data-ng-click="usersCtrl.remove(u.id)"
                                class="btn btn-default btn-xs">
                            <span class="glyphicon glyphicon-trash text-danger"></span>
                        </button>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
